SELECT
    expeditions.*,
    routes.route_name,
    routes.difficulty_level,
    routes.region,
    routes.altitude_gain,
    routes.route_length,
    routes.average_duration,
    routes.previous_success_rate,
    routes.best_season
FROM
    {{ ref('expeditions') }} AS expeditions
LEFT OUTER JOIN
    {{ ref('routes') }} AS routes
ON
    expeditions.route_id = routes.route_id

{{ with_test("not_null", column="route_name") }}
